.product-edit-menu {
  overflow: visible;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 1.5;
  & .MuiAvatar-root {
    width: 32;
    height: 32;
    margin-left: -0.5;
    margin-right: 1;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 14;
    width: 10;
    height: 10;
    background-color: white;
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
  }
}

.add-edit-product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
